<header>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <a routerLink="/" routerLinkActive="active" class="logo">
        <img src="assets/quix-logo.svg" alt="Quix" height="32" />
      </a>
      <span [style.fontSize.px]="18" class="ms-2 mt-2">TEMPLATES</span>
    </div>

    <div fxLayout="row wrap" fxHide.lt-md>
      <a mat-raised-button color="primary" class="small me-2"
        [href]="'https://portal.platform.quix.io/pipeline?workspace=' + workspaceId + '&token=' + ungatedToken"
        target="_blank">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="assets/quix.svg" alt="Quix" height="12" class="me-2" />
          <span>Look under the hood</span>
        </div>
      </a>
      <a mat-raised-button color="accent" class="small" fxLayout="row" fxLayoutAlign="center center"
        href="https://github.com/quixio/template-clickstream-front-end" target="_blank">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="assets/github.svg" alt="Quix" height="16" class="me-2" />
          <span>View repo</span>
        </div>
      </a>
    </div>
  </mat-toolbar>
</header>
<mat-drawer-container>
 <mat-drawer-content class="w-100">
    <div class="h-100">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
